 @import url (http://fonts.googleapis.com/css?family=Satisfy);
 #header h1{ font-family: 'Satisfy', cursive;}
 
/* Slider */

input {
    display:none;
}

img#image1, img#image2, img#image3 {
    display:none;
}

input#img1:checked ~ img#image1 {
  display:block;
}
input#img2:checked ~ img#image2 {
  display:block;
}
input#img3:checked ~ img#image3 {
  display:block;
}

#imgslider{
	height: 825px;
	position: relative;
}


#bild1{
	position: absolute;
	bottom: 0;
	margin-left: 0px;
}

#bild2{
	position: absolute;
	bottom: 0;
	margin-left: 300px;
}

#bild3{
	position: absolute;
	bottom: 0;
	margin-left: 600px;
}